body{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box ;
    background-color: rgb(206, 196, 196);

}
.parent{
    margin: 30px;
    height: 80vh;
    width: 70%;
    background-color: white;
    display: flex;
    border-radius: 10px;
    position: relative;
    top: 50px;
    left: 90px;
}

.child1{
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    width: 300px; 
    background-repeat: no-repeat;
    color:white;
    margin: 10px;
    padding: 20px;
}
.child1 ol a {
    text-decoration: none;
    color: white;
  }
  .child1 ol a:hover{
      color: rgb(230, 118, 230);
  }
.kids{
    display:flex;
}
.arc,.adv,.pro{
    border-color: blue;
    width: 60px;
    height: 20vh;
    border-style: inset;
    padding: 40px;
    margin: 10px;
    border-radius: 10px;
}
.btn{
    background-color:  rgb(19, 19, 66);
    border-radius: 10px;
    height: 30px;
    width: 90px;
    color: white;
    border-style: none;
    cursor: pointer;
}
/* .gb a:hover{
    background-color: rgb(129, 129, 179); 
} */
.gb{
    display: flex;
    justify-content: space-between;
}
.mon{
    display: flex;
    justify-content: center;
    text-indent: 20px;
}
.gb a{
    text-decoration: none;
    cursor: pointer;
    color: grey;

}

